.algo_picker {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.algo_picker__algo {
  padding: 15px 40px;
  margin: 0 20px;
  cursor: pointer;

  font-size: 1rem;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  border-radius: 30px;
}

.algo_picker__algo:hover,
.algo_picker__algo--selected {
  background-color: var(--accent-color);
  color: white;
}
