.heading {
  padding: 0 75px;
  margin: 4rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading__header {
  font-size: 6rem;
  font-weight: 300;
  margin: 0;
}

.heading__subheader {
  font-size: 1.5rem;
  color: rgb(71, 71, 71);
  font-weight: lighter;
  margin: 0;
  margin-top: 1rem;
}
